*{margin:0;padding:0}:focus,:active {outline:0}img{border: 0}

body  
{
	font: .8em Arial, Tahoma, Verdana; 
	background: #fff url(bg1.gif) repeat-x; color: #777;
	color: #777; 
}

a 
{ 
	text-decoration: none; 
	color: #B20F0F; 
}

h1 
{ 
	font-size: 1.4em; 
	font-weight: normal; 
}

h1 a 
{ 
	color: #fff; 
	font-size: 1.6em; 
}

h2 
{ 
	font-size: 1.2em; 
}

h3 
{ 
	font-size: 1.2em; 
	padding: 6px 7px; color: Olive; font-weight: bold; 
	margin: 0 0 15px; float: left; 
}

h4 
{ 
	margin: 0 0 15px; 
	color: #555; 
	font-weight: normal; font-size: 1.6em; font-weight: normal; 
}

p 
{ 
	clear: both; 
	line-height: 1.64em; 
	margin: 0 0 15px; 
}

.line 
{ 
	clear: both; 
	border-bottom: 1px solid #ddd; 
	margin: 0 0 10px; 
}

.clear 
{ 
	clear: both; 
}

#content 
{ 
	width: 1000px; 
	margin: 0 auto; 
}

#leftbar
{
	float:left;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding-right: 10px;
	border-right: dashed thin grey;
}

#leftbar a
{
	color:Grey;
}

#leftbar a.current
{
	color:Navy;
}

#centercontent
{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#top 
{ 
	color: #fff;
	padding: 6px 20px 0; 
	text-align: right; 
}

#top a
{
	color: #fff;
}

#logo 
{
	 float: left; 
	 margin: 63px 20px 0px; 
}

#logo h1 
{ 
	text-shadow: 1px 1px 1px #7E0E0E; 
}

#logo h5
{
	color: white;
	font-style:italic;
	text-align: right;
}

#menu 
{ 
	float: right; 
	margin: 63px 20px 0; 
}

#menu li 
{ 
	display: inline; 
	font-size: 1.3em; 
}

#menu li a 
{ 
	float: left; 
	color: #808080; 
	padding: 0 0 5px; 
	margin: 0 0 0 55px; 
}

#menu li a:hover, #menu li.current a, #menu li a:focus 
{ 
	color: #000; 
	border-bottom: 1px solid #ddd; 
}

#pitch 
{ 
	padding: 10px 10px 10px 0;
	border-bottom: 1px solid #ddd; 
	margin: 0 0 35px; 
}

#pitch h1 
{ 
	font-size: 2.6em; 
	color: olive; 
	margin: 0 0 20px; 
}

#shortdesc
{
	padding-right:10px;
}

.left 
{ 
	float: left; 
	width: 296px; 
	margin: 0 40px 20px 0; 	
}	

.left h3 
{ 
	background: #808080; 
	color: White;
	font-size: .84em; 
}

.right 
{ 
	float: right; 
	width: 630px; 
	margin: 0 0 20px; 
}

.right h3 
{ 
	background: #808080; 
	color: White;
	font-size: .84em; 
}

.third 
{ 
	float: left; 
	width: 296px; 
	margin: 0 40px 20px 0; 
}

.last 
{ 
	margin-right: 0; 
}

#footer 
{ 
	clear: both; 
	text-align: center;
	font-size: .84em; 
	border-top: 1px solid #ddd; padding: 20px 0 0; 
}

.box {
	border: 1px solid #BDC0CF;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
}

table.widecontenttable {
	border-collapse: collapse;
	margin-top: 1em;
	width: 700px;
}

table.widecontenttable td {
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	padding: 10px;
}

table.widecontenttable th {
	border: 1px solid #CCCCCC;
	background: #FFFFDF;
	padding: 10px;
	text-align: left;
}

table.widecontenttable td.centered {
	text-align: center;
}

table.widecontenttable th.tabletitle {
	background: #F8F8F8;
	font-size: 15px;
}

.opPromotion {
	background: #FFFFDF;
	border-bottom: Silver 0px solid;
	border-top: Silver 0px solid;
	margin-top:10px;
	padding: 12px 3px 12px 3px ;
	text-align: center;
}

.finePrint {
	font-size: 11px;
	color: #555555;
}

.nav-arrows 
{
	background: #F7EFD2;
	border-bottom-left-radius: 0.5em 0.5em;
	border-bottom-right-radius: 0.5em 0.5em;
	border-top-left-radius: 0.5em 0.5em;
	border-top-right-radius: 0.5em 0.5em;
	margin-top: 2.5em;
	overflow: auto;
	padding: 12px;
	width: 576px;
}

.nav-arrows .next 
{
	float: right;
	margin-right: 0.5em;
}

.nav-arrows .title 
{
	text-align: center;
	font-size: small;
}

.nav-arrows .previous 
{
	float: left;
	margin-left: 0.5em;
}